
  <div class="container">
      <div class="alert alert-info">
          In this game your knowledge and dexterity will be tested.
          A question will appear in the top left corner, and you will have to
          choose your answers from the floating options on the screen.
          Fly to gather the right answers, and shoot the wrong ones.
          You will receive a grade after all questions have been answered.

          Good Luck!
      </div>
  </div>
