<div class="card">
    <div class="card-header">
        <h5 class="card-title"><i class="fas fa-question"></i> {{this.title}}</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">Amount of questions: {{length this.questions}}</h5>

    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="/games/{{this.id}}"><i class="fas fa-gamepad"></i>Play</a>
    </div>
</div>
