<div>
    <div class="container">
        <div class="alert alert-success">
            Submission successful! You got {{points}} out of {{maxPoints}}!
            With {{errors}} wrong and {{rights}} right answers.
        </div>
    </div>
</div>
