
<div class="container">
  {{>game_window}}
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            {{>messages}}
            {{#if questionnaire}}
                {{>hidden_game_form questionnaire}}
            {{/if}}
            {{>game_info}}
            <button type="button" id="startButton">Start Game</button>
            <script src="//cdn.jsdelivr.net/npm/phaser@3.21.0/dist/phaser.min.js"></script>
            <script type="text/javascript" src="/js/game.js"></script>
        </div>
    </div>
</div>
