<div>
    <div class="container">
        <div class="alert alert-info">
            Leaderboards:
            <br></br>
            <ol start="1">
            {{#each scoreBoard}}
            <li id="li{{@index}}">{{this.player}} - SCORE: {{this.grade}}</li>
            {{/each}}
            <ol>
        </div>
        </form>
    </div>
</div>
