<div>
    <div class="container">
        <div class="alert alert-info">
            Leaderboards:
            <br></br>
            <ul>
            {{#each scoreBoard}}
            <li>{{this.player}}: grade {{this.grade}}</li>
            {{/each}}
            <ul>
        </div>
        </form>
    </div>
</div>
