<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h3 class="text-center mb-3"><i class="fas fa-user-edit"></i>Change password</h3>
                <h4 class="text-left mb-2">{{name}}</h4>
                {{>messages}}
                <form method="POST" action="/users/me/change-password">
                    <div class="form-group">
                        <label for="oldPassword">Current password</label>
                        <input type="password" name="oldPassword" class="form-control" id="oldPassword"
                            placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <label for="password">New password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="new password"
                            minlength="10" aria-describedby="passwordHelpBlock" required>
                        <small id="passwordHelpBlock" class="form-text text-muted">At least 10 chars</small>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirmation">Confirm</label>
                        <input type="password" name="passwordConfirmation" class="form-control"
                            id="passwordConfirmation" placeholder="new password again" minlength="10" required>
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                <p class="lead mt-4"><a href="/users/me">Cancel</a></p>
            </div>
        </div>
    </div>
</div>
