{{>messages}}
<div class="container">
	<h2>Create new questionnaire</h2>
		<form action="/questionnaires/new" method="POST" id="create_questionnaire_form">
			<div class="form-group">
				<label for="questionnairetitle">Title</label>
	    		<input type="text" class="form-control" name="title" id="questionnairetitle" aria-describedby="titleHelp" placeholder="Enter title" required="true">
	    		<small id="titleHelp" class="form-text text-muted">Title is mandatory.</small>
	  		</div>

			<div class="form-group">
			    <label for="submissions">Submissions</label>
			    <input type="number" value="1" min="1" class="form-control" name="submissions" id="submissions" aria-describedby="submissionsHelp" required="true">
			    <small id="submissionsHelp" class="form-text text-muted">Submissions is mandatory.</small>
			</div>

			<div class="form-group" id="questions">

				<div class="form-group" id="question1">
				    <label for="questionInput1"><b>Question 1</b></label>
			  		<input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Enter question" name="questions[1][title]" required="true">  

			  		<br>
					<div class="form-group ml-3">
					    <label for="max_points">Max Points</label>
					    <input type="number" value="2" min="1" class="form-control" name="questions[1][maxPoints]" required="true">
					</div>

					<div class="form-group ml-5" id="option1">
						<label for="optionInput1">Option 1</label>
						<div class="input-group mb-3">
						  	<input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Enter option" name="questions[1][options][1][option]" required="true">
							<div class="input-group-append">
							  	<div class="input-group-text"> 		
							    	<input class="correct-answer-checkbox" type="checkbox" name="questions[1][options][1][correctness]" aria-label="Checkbox for text input">
									<label for="correctAnswerCheckbox">Correct</label>
								</div>
							</div>
						</div>	
						<label for="hint">Hint (optional):</label>
						<input type="text" class="form-control option-hint" name="questions[1][options][1][hint]" placeholder="Enter hint">  
					</div>

					<div class="form-group ml-5" id="option2">
						<label for="optionInput2">Option 2</label>
						<div class="input-group mb-3">
						  	<input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Enter option" name="questions[1][options][2][option]" required="true">
							<div class="input-group-append">
							  	<div class="input-group-text"> 		
							    	<input class="correct-answer-checkbox" type="checkbox" name="questions[1][options][2][correctness]" aria-label="Checkbox for text input">
									<label for="correctAnswerCheckbox">Correct</label>
								</div>
							</div>
						</div>	
						<label for="hint">Hint (optional):</label>
						<input type="text" class="form-control option-hint" name="questions[1][options][2][hint]" placeholder="Enter hint">  
					</div>
					<button type="button" class="btn btn-primary" onclick="addNewOption(this)">Add option</button>
				</div>
				
			</div>
			<button type="button" class="btn btn-primary" onclick="addNewQuestion();">Add question</button>

			
			<button type="submit" id="newQuestionnaireButton" class="btn btn-primary">Create</button>
			<a class="btn btn-primary" href="/questionnaires/cancel">Cancel</a>
		</form>
</div>