<div class="container">
    <h2>Questionnaires</h2>
        <a class="btn btn-primary" href="/questionnaires/new"><i class="fas fa-plus-square"></i> Add New
        </a>
    {{>messages}}
    {{>questionnaire_listing}}
</div>
